[2017-05-22 07:39] MartinSahlen opened #1 "Look at this to implement a django handler"
look at this: https://github.com/django/django/blob/master/django/core/handlers/wsgi.py

[2017-05-26 23:00] MartinSahlen opened #2 "verbosity level when building"

[2017-05-28 21:58] #1 closed

[2017-05-28 22:12] MartinSahlen opened #3 "Add some support for running locally / testing"
maybe add some kind of hot reloading dev server?

[2017-05-28 22:21] MartinSahlen opened #5 "Add build server with flake/PEP8 ++"

[2017-05-29 00:57] MartinSahlen opened #6 "Add full support for python 3"
maybe as a build parameter or something that you can use to select which container / python version to bundle the executable.

[2017-05-29 23:06] #2 closed

[2017-05-29 23:06] #6 closed

[2017-05-29 23:48] #3 closed

[2017-05-30 01:08] #5 closed

[2017-05-30 01:09] MartinSahlen opened #11 "Simplify docker, use the standard images for python"

[2017-05-30 12:19] MartinSahlen opened #13 "Maybe add some tests?"
Or not. Have tested a lot empirically to get this working. Cloud functions are still in beta with the api in flux so probably not a good idea to spend time on this before it stabilizes.

[2017-05-30 12:31] MartinSahlen opened #14 "Maybe do some squashing and clean up pypi versions"

[2017-06-01 16:01] #14 closed

[2017-06-01 16:02] #13 closed

[2017-07-22 11:31] venkatesh-1729 opened #15 "Add support for bundling data files"

[2017-07-24 07:33] MartinSahlen commented on #15
@venkatesh-1729 , Just to understand what you mean by this. You are thinking that you want to add a file named for instance `config.yaml` or `config.json` that the function should read and parse?

[2017-07-24 12:12] venkatesh-1729 commented on #15
@MartinSahlen in general we package data files using `MANIFEST.in` or `package_data` in `setuptools`. I am guessing this can be achieved by using `--add-data` option of `pyinstaller` [here](https://github.com/MartinSahlen/cloud-functions-python/blob/master/cloudfn/cli.py#L71).

A quick way to do this would be mounting project root directory in docker and copy data files from either `Manifest.in` o

[2017-07-24 14:31] MartinSahlen commented on #15
I think we should leave anything pertaining `MANIFEST.in`, and setuptools/pip from this, we don't want the users of this library to have to deal with internals of pip or understand how pip works beyond running `pip install` 😄 . Rather, (as you seem suggest in the last paragraph), the function builder should just scoop up any files or folders in the path and include them in the package. So if you h

[2017-07-27 07:47] MartinSahlen commented on #15
@venkatesh-1729 I am pretty swamped currently, so a PR would be greatly appreciated if you need this urgently. Otherwise a workaround would be to just embed the files you need as multiline strings in your python code. I will take a look at this next week if time allows!

[2017-08-24 04:40] karheng opened #16 "functions can't finish execute when its response "Content-Type" is "text/plain" or "text/html""
@MartinSahlen Based on the logs, there is response payload. However, the function seems continue running, can't finish execute until encounter "connection error".  Thus, can't get the response from the functions URL.

![image](https://user-images.githubusercontent.com/12005905/29649676-252b46d4-88c8-11e7-95fd-be497671e6c3.png)

[code]

[2017-08-25 06:44] MartinSahlen commented on #16
@karheng Thanks for submitting issue. Are you able to run this with a json payload and a different response body just to see if we can zone in on where the issue might be?

[2017-08-29 07:17] karheng commented on #16
@MartinSahlen Yes, when is json response body, function will finish execute immediately once the response returned.

![image](https://user-images.githubusercontent.com/12005905/29808983-e5e0570e-8ccc-11e7-975b-94499fc97d17.png)

[2017-08-29 07:21] MartinSahlen commented on #16
@karheng , I'll have a a look! Thanks for providing the info! Wondering if this is related to the fact that the body in the last request seems to be an integer and not a strong, and if I'm doing something wrong in the parsing / unparsing.

[2017-08-29 07:42] karheng commented on #16
@MartinSahlen You're right! I tested with string, it's working fine.
However, I did convert the integer to string, still can't work (above python code).
![image](https://user-images.githubusercontent.com/12005905/29809832-47e8a444-8cd0-11e7-8434-b6bed79488e8.png)

[2017-08-29 07:47] MartinSahlen commented on #16
Yes! I was just trying to locate where the error might be. You did convert the number correctly, however my code does not seem to handle serialization correctly. So I just needed to see that, makes it a lot easier for me to fix the issue. It should be a fast fix, thanks for helping debug.

[2017-09-07 12:20] jmderueda opened #17 "Cannot run handle_http example"
Hi Martin,

First of all, congrats for the tool. It seems really promising!

I've been trying to run handle_http example, I get status: READY (everything goes fine, apparently) but get a 500 when I enter the resulting url. When I log to google cloud error reporting I got this error:

[code]
My steps are:
1/ create files function.py, deploy.sh and requirements.txt
2/ create new virtualenv and insta

[2017-09-07 12:22] jmderueda commented on #17
function.py

[code]
---
requirements.txt

`pycloudfn==0.1.205`
---
deploy.sh
[code]

[2017-09-07 12:53] jmderueda commented on #17
PS flask example works fine

[2017-09-07 13:06] MartinSahlen commented on #17
Thanks, I'll have a look this weekend :D

[2017-09-07 13:07] MartinSahlen commented on #16
I'll have a look at this during the weekend!

[2017-09-07 13:08] MartinSahlen commented on #17
And please bear with me, this was created over a few jetlagged days in New York, it is very much alpha 😂

[2017-09-11 15:29] jmderueda commented on #17
Other examples work pretty well 💯

[2017-09-25 22:54] marcelopham opened #18 "Unexpected "(" in dist/func/func"
Hi there,
Sorry if this is not the right place to post (I searched on stackoverflow but there was no py-cloud-fn tag) I deployed the "storage" sample (as is) and when running it gives this error:

`15:45:43.560
test2
155785686371109
./dist/func/func: 1: ./dist/func/func: Syntax error: "(" unexpected
{
 insertId:  "000000-eb6149ef-f09f-48aa-976d-1ec133924c51"
 labels: {…}
 logName:  "projects/xxxxx

[2017-09-26 20:30] marcelopham commented on #18
Ha! Sorry, my bad - I was building for production but did not include the -p (duh!).
Although I did bump into another issue - I was getting this error when building:

docker: invalid reference format: repository name must be lowercase.

Upon some digging, I realized the command in build_function:

[code]
In a OSX environment, $(pwd) returns something like:

Note the space in Macintosh and HD ... b

[2017-09-27 00:02] MartinSahlen commented on #18
Thanks! Please make a pull request, and I will review and merge ASAP :D

[2017-09-27 13:59] jasonjho opened #20 "Add paths for local dependencies when running PyInstaller"
If you have Python modules required by `main.py` in the same directory, it seems that PyInstaller will not pick these up by default. Adding a `--paths` argument to PyInstaller may do the trick.

I'll be happy to put together a PR for this.

Great work!

[2017-09-27 14:02] jasonjho opened #21 "Ubuntu 17.10 and Python3.5 incompatible"
Looks like the Ubuntu 17.10 has dropped Python3.5 and isn't respecting the `apt-get -y python3.5` installation, causing subsequent RUN commands to fail.

I've tried a few workarounds, but haven't been able to successfully run PyInstaller with various Docker configurations that have Python 3.5 enabled. Mostly running into `GLIBC_2.25` not found errors.

I believe the 3.5 requirement is due to PyIns

[2017-09-27 18:32] MartinSahlen commented on #21
Yes, the 3.5 is due to pyinstaller not supporting 3.6 :( what is your suggested fix? Is this breaking the entire thing?

[2017-09-27 18:34] MartinSahlen commented on #20
As long as any module is explicitly imported it should work I think. Can you point to a non-working example? And also, a PR would be greatly appreciated. Pretty over worked these days 😅

[2017-09-27 23:21] marcelopham commented on #17
@jmderueda I can't see your full trace, but might be the same issue I am having - my trace after deployed and tested is:

  File "/tmp/pip-build-1Vm687/pyinstaller/PyInstaller/loader/pyimod03_importers.py", line 389, in load_module
  File "site-packages/cloudfn/http.py", line 5, in <module>
  File "site-packages/six.py", line 92, in __get__
  File "site-packages/six.py", line 160, in _resolve
  Fi

[2017-09-27 23:28] jmderueda commented on #17
Exactly! That is my problem. Thank you @marcelopham!
ᐧ

On Thu, Sep 28, 2017 at 1:21 AM, marcelopham <notifications@github.com>
wrote:

[2017-09-28 13:29] MartinSahlen commented on #17
Just wondering if this (not using six) will break compatibility with python2+3?

[2017-09-28 13:51] jmderueda commented on #17
Not sure

El 28 sept. 2017 3:29 p. m., "Martin Abelson Sahlen" <
notifications@github.com> escribió:

[2017-09-28 15:38] MartinSahlen commented on #17
As far as my understanding goes, six is a compatibility layer that makes sure that code works on both python 2 and 3 where stuff is deprecated or changed? I'll look some more into this.

[2017-09-28 16:50] marcelopham commented on #17
We could do something like:

    from six.moves.urllib_parse import urlparse
except ImportError:
    from urlparse import urlparse

[2017-09-29 18:13] jasonjho commented on #20
#22 is open for review. I don't have a non-working example atm, but I'm fairly certain that my main py file that includes local/relative imports produced an `ImportError` at runtime. Adding `--paths` fixed the issue.

[2017-09-29 18:14] jasonjho commented on #21
Yep, it's breaking b/c the python3.5 commands are not linked or installed properly so the RUN commands fail.

[2017-09-29 19:01] MartinSahlen commented on #21
ohhh. Did you look at fix?

[2017-09-29 20:05] MartinSahlen commented on #20
Closed by #22

[2017-09-29 20:05] #20 closed

[2017-09-29 20:05] MartinSahlen commented on #18
Closed by #19

[2017-09-29 20:05] #18 closed

[2017-11-05 10:01] seijik42 opened #25 "google-api-core was not found on production"
I got following error when I accessed to the end point of flask handler.

[code]

Build command is following.

[code]

Once I added following line to `cloudfn/hooks/hook-google.cloud.storage.py`
It was fixed on emulator. However I still have same error on production.

[code]

Do you have any idea? I guess some google lib changed dependency but not certain at the moment.

I'm using following google

[2017-11-05 23:16] davidbernat commented on #17
@MartinSahlen @marcelopham I can confirm the change of
`from six.moves.urllib_parse import urlparse`
to
`from urlparse import urlparse`
change worked for me using python 2.7.

[2017-11-26 22:53] #21 closed

[2017-11-27 17:57] pataquets commented on #25
I'm experiencing a similar problem (both under Py 2.7 & 3.5), but with the object storage access (using the storage example as base). I'm still figuring out if it's my own fault, but I've been trying for a full day. (Disclaimer: Python is not my main language).

2.7
[code]

3.5
[code]
@seijik42 : Are you still having the issue or have you found the cause?
A new version has been uploaded to PyPI (s

[2017-11-28 06:58] seijik42 commented on #25
@pataquets Not yet found the issue. Actually I was away from this for a while since this might be fixed by some library updates.
Thank you for suggestion. I will try when I have time, probably this weekend.

[2017-11-28 18:18] pataquets commented on #25
Great. Let's keep this updated on progress to add efforts.
@MartinSahlen : Any advice on this?

[2017-11-28 18:24] pataquets commented on #25
BTW, I tried the following:
* Deleted the ```/usr/local/lib/python2.7/dist-packages/cloudfn/cli.pyc```.
* Added an extra ```--hidden-import``` clause for ```google-core-api``` to build() function in file ```/usr/local/lib/python2.7/dist-packages/cloudfn/cli.py```.
* Tested again for 2.7 and 3.5.
No success. :(

[2017-12-01 00:35] MartinSahlen commented on #25
I will look into this. Sorry for the lag, I am very time constrained at the moment.

[2017-12-25 08:28] seijik42 commented on #25
@pataquets
Sorry for late, I could spend some time for this yesterday. I think I could fix this issue.
What I did is:

1. Update to latest master
2. Added `datas += copy_metadata('google-api-core')` to all relevant hook files
3. Added "google-api-core" to requirements.txt

Earlier, I changed hook files in wrong place. I needed to change files under cloudfn cache folder.
I think this will be fixed

[2017-12-26 14:35] kpr6 opened #27 "Build failure"
Build command:

Error:

[2017-12-27 09:53] MartinSahlen commented on #27
This issue arises because docker is not running, install docker make sure the daemon is running: https://www.docker.com/docker-mac is very easy for Mac, for windows: https://www.docker.com/docker-windows. As the readme also states, docker is (unfortunately) a prerequisite requirement for this tool to work.

[2017-12-28 14:16] #27 closed

[2018-01-11 19:32] marcelopham commented on #25
I'm also trying to use the google-cloud-storage api, was getting the same error, and I can confirm what @seijik42 did and getting also an error:

- Added datas += copy_metadata('google-api-core') to hooks/hook-google.cloud.storage.py
- Added google-api-core to requirements.txt
- Deployed
- Getting a different error message in the cloud function log in production:
./dist/func/func: 1: ./dist/func/f

[2018-01-22 02:23] kylestev commented on #25
Not to spam this issue, but I am getting this as well. Any insight would be greatly appreciate when you have time!

[2018-01-22 13:36] SushantVarshney opened #28 "Unable To Install Pandas on Cloud Function"
Hi ,
I am trying to run my code over cloud-function which has a dependency of pandas in it.But after deploying the function and triggering it,facing the following error:

`ImportError: C extension: No module named timedeltas not built. If you want to import pandas from the source directory, you may need to run 'python setup.py build_ext --inplace --force' to build the C extensions first.
Failed to

[2018-01-22 14:35] MartinSahlen commented on #28
This seems to be an error with C extensions and building them for the cloud function. It might be an easy task, it might not but I don't currently have a solution for you, unfortunately. I would recommend cloning the repository and fiddling about with the source code. Maybe there are some options in pyinstaller you can use? Also, as per the readme, there might be some more modules that must be add

[2018-01-23 09:09] SushantVarshney commented on #28
@MartinSahlen
Found some links to solve the above mentioned issues,but don't know how to use it inside your code
1) https://github.com/pyinstaller/pyinstaller/issues/3015
2) https://github.com/pyinstaller/pyinstaller/pull/2998/commits/017b247064f9bd51a620cfb2172c05d63fc75133

Can you do the above changes or tell me how to do changes?

[2018-01-23 13:48] MartinSahlen commented on #28
Thanks, I should be able to get that into an update. I also have some other issues that seems mostly related to hidden imports  - it seems that just updating pyinstaller version should fix this issue if the links you are referring to are correct.

[2018-01-23 18:24] marcelopham commented on #25
hey @MartinSahlen  I tried that (with only one google lib, added google-api-core to the hook file and to requirements) still the same error ...
Thanks

[2018-01-25 11:38] JulienD commented on #17
Hi,

Trying for the first time the repo and got the same error. Any progress on this topic ? What are the issues using the default urlparse lib instead of the one provided by six ?

Thanks

[2018-01-26 14:11] opyate opened #29 "Ubuntu 17.04 reached EOL"
When building the 3.5 image, it fails with:

[code]

This is because 17.04 reached end-of-life a few weeks ago.

Merely using the 17.10 image has a new error:

[code]

I'll try and solve it, but if anyone has any ideas...

[2018-01-26 14:12] opyate commented on #29
@MartinSahlen I suppose you can push your known working pre-built images to Docker hub for our benefit? That way pycloudfn doesn't need to build an image each and every time for each and every user?

[2018-01-26 14:14] opyate commented on #29
Related to #21

[2018-01-26 15:17] opyate commented on #29
I've added "bring your own image" in #30 but also an alternative 3.5 Dockerfile which works.

[2018-01-26 20:36] MartinSahlen opened #31 "Update pyinstaller to get python 3.6 support"
it seems that now pyinstaller supports 3.6!

[code]

[2018-01-26 20:37] MartinSahlen commented on #31
This might also fix https://github.com/MartinSahlen/cloud-functions-python/issues/28

[2018-03-01 15:25] kamal8 opened #32 "Permissions issue on cloudfn folder"
Hello,
I have just started using the cloud-functions-python for the first time. I tried reading the documentation if I was configuring it wrong.
whenever I run the build command I get the permissions errors like:
IOError: [Errno 13] Permission denied: 'cloudfn/index.js'

but if i run it as root, it works fine. or if I recursively grant all permissions to all files in cloudfn folder.

I would reall

[2018-03-03 12:19] martinn commented on #29
Hi @opyate, just wondering if you were able to merge #30 or if there's any other workaround to make it work in the meantime? Thank you.

[2018-03-06 10:05] MartinSahlen commented on #32
I haven't gotten this issue myself, what system / OS are you running this on?

[2018-03-07 06:54] santhoshdc1590 opened #34 "cloud function used for OpenCV python possible?"
I am new to this cloud thing and also building a python application.
This will be my first python application.
I have a python code that requires these libraries
`matplotlib`
`numpy`
`OpenCV`
`scipy`
`sys`

`OpenCV` is installed using `make` on local system, how will this library be called and used on cloud function?

Is it possible to use cloud function with these other dependent libraries? if po

[2018-03-07 11:56] santhoshdc1590 commented on #34
Will using opencv like this installing using pip work?

[pip install opencv-python==](https://stackoverflow.com/questions/44439443/can-i-pip-install-opencv2-for-python/44439955#44439955)

[2018-03-08 12:18] kevin-thorpe commented on #32
Yep, I have this issue as well. CentOS 7. Heven't yet looked into the reason but the cloudfn folder is created as root.root 0755

[2018-03-08 12:58] santhoshdc1590 opened #35 "New to this, need some help!"
I followed all the steps to setup all the requirements for this `cloud-function-python`

I have a python file that I would like to execute. I have all the virtual environment libraries those are required in a requirements.txt file.

Can anyone guide me what should I do to execute the python file?

[2018-03-10 09:56] #34 closed

[2018-03-10 10:20] santhoshdc1590 opened #36 "Error: Cannot find module 'google-auto-auth'"
This is my main.py file

Just have a function called `hello` which prints `hello universe`

[code]

I'm able to build with no problem

[code]

Then I move into the the directory `/cloudfn/target/index.js`

and use `cloud-function-emulator`

RAN `functions start`

got

then RAN `functions deploy hello --trigger-http`

I'm getting these errors

Can anyone point out what went wrong?

I'm clueless

[2018-03-10 16:36] MartinSahlen commented on #36
This error is likely because the emulator does not pick up the dependencies in the package.json that is generated here: https://github.com/MartinSahlen/cloud-functions-python/blob/master/cloudfn/cli.py#L182. If you run `npm install` in the directory you moved into it should work. But your "hello universe" does not return anything however and it is also not connected to the `handle_http_event` func

[2018-03-10 16:39] MartinSahlen commented on #35
Please have a look at the examples, they should suffice to give you an understanding of how to execute your own code. for instance, https://github.com/MartinSahlen/cloud-functions-python/blob/master/examples/http/function.py should suffice for a simple case.

[2018-03-12 10:09] santhoshdc1590 commented on #35
@MartinSahlen

[code]
firstly:

I need to check if `req` in `def handle_http(req):` is in the pre defined(desired) format.

Depending on the `req` 's content, change the  `return response` .

If the the `req` format satisfies the pre defined(desired) format. Execute the main code that is to be executed in the function named `handle_http` send the data through the `body` in the `return response`

A

[2018-03-12 12:13] MartinSahlen commented on #35
I'm sorry, I don't really understand what you are trying to achieve here. The request object is defineded here https://github.com/MartinSahlen/cloud-functions-python/blob/master/cloudfn/http.py, you can use all available fields. I don't understand what the "pre-defined" format means.

[2018-03-12 14:21] santhoshdc1590 commented on #35
Sorry my bad, Thank you for the link on how the `req` is structured here.

In simple words, I can have other python functions just in this `functions.py` similar to `handle_http` and call those functions to manipulate the data inside function `handle_http(req)`.  Will this work? I think this show work.

[code]

[2018-03-12 18:32] MartinSahlen commented on #35
Any function that returns a `Response` (https://github.com/MartinSahlen/cloud-functions-python/blob/master/cloudfn/http.py#L27) object will work. What that function does before returning the `Response` object is obviously up to you, the developer, to decide and implement.

[2018-03-15 13:58] santhoshdc1590 commented on #35
@MartinSahlen

[code]

Correct me if I'm wrong `req` parameter in the function handle_http will actually contain the `url` of the cloud-function along with the any parameters sent by a client?

Example
`req='http://cloudfunctionurl?data=rawdata'`

[2018-03-16 09:34] santhoshdc1590 opened #38 "Please explain handle_http_event(handle_fn):"
I'm test to check the output of the function before deploying the function on the cloud function.

Can anyone explain what's happening [here](https://github.com/MartinSahlen/cloud-functions-python/blob/master/cloudfn/http.py#L27)

I am able to send my data inside the `body` of the `return Response` [here](https://github.com/MartinSahlen/cloud-functions-python/blob/master/examples/http/function.py)

[2018-03-16 10:14] #38 closed

[2018-03-16 13:44] santhoshdc1590 opened #39 "How can I get parameters inside the python function?"
I have a python code that needs parameters from the calling client of the cloud function.
I'm new to this please help
How can the client send the data that is needed by the parameters?
How can I extract this parameter data sent by the client in `cloud-function-python`?

[2018-03-16 15:28] santhoshdc1590 opened #40 "Hidden imports"
I'm using `python3.5`

While building the function using `py-cloud-fn handle_http http -f function.py --python_version 3.5`

I got these `hidden import` errors

[code]

Checked import in the official links

`Note The htmlentitydefs module has been renamed to html.entities in Python 3. The 2to3 tool will automatically adapt imports when converting your sources to Python 3.` [official link](https://

[2018-03-16 19:58] #36 closed

[2018-03-16 20:02] MartinSahlen commented on #35
The `req` paramater is of the type https://github.com/MartinSahlen/cloud-functions-python/blob/master/cloudfn/http.py as already mentioned. If you hit a cloud function with `http://cloudfunctionurl?data=rawdata`, where data is a query parameter, then you can find it by going to `req.query`. However I suspect you may be looking to POST data, then the body of the http request will be found in `req.b

[2018-03-16 20:19] #39 closed

[2018-03-16 20:21] MartinSahlen commented on #32
I’m not sure what might be causing this, feel free to look into it and suggest a fix, I will merge at will.

[2018-03-16 20:21] #29 closed

[2018-03-16 20:22] #25 closed

[2018-03-16 20:26] MartinSahlen commented on #40
Did you try forking the repository and make changes and / or change the source code in the imported dependencies?

[2018-03-16 20:28] #15 closed

[2018-03-16 23:29] kevin-thorpe commented on #32
I'm more than happy to try and fix it but what you're doing is quite
complex. I didn't realise you were compiling python into an executable. Any
clues in the process you're using? I'm a sysadmin/systems programmer so a
few small clues should go a long way

On 16 Mar 2018 8:21 pm, "Martin Abelson Sahlen" <notifications@github.com>
wrote:

[2018-03-17 04:31] santhoshdc1590 commented on #40
No I didn't do any of those. I just used 'pip3 install pycloudfn'

[2018-03-17 04:34] santhoshdc1590 commented on #35
Nice! This basically reduces coding and saves time by not having to create an API to hit the implemented cloud function?

[2018-03-17 17:44] MartinSahlen commented on #35
I don't get what you mean @santhoshdc1590. It would be great if you could provide some more examples, code and explanations of what you are trying to achieve here.

[2018-03-21 06:59] santhoshdc1590 commented on #35
Example:

- I have a python code.
- I need this python code to be executed by the client by feeding the python code with the required data parameters.

Generally we write an API so that the client can hit it along with the required parameters and then return the response along with the data client asked for.

Executing this example python code through `cloud function python`  wouldn't require the

[2018-03-21 14:43] MartinSahlen commented on #35
You are absolutely correct :D The point of cloud functions is to be able to take a piece of code and make it trigger on events in the cloud, such as an http request. This said piece of code is your custom code that you want to run in response to such an event. When you are deploying your function to trigger on http events, it will automatically create a URL for you to direct your http client to 👍

[2018-03-21 14:45] MartinSahlen commented on #35
The URL of your deployed function is described here: https://cloud.google.com/functions/docs/calling/http

[2018-03-22 11:44] santhoshdc1590 commented on #40
I forked, built and then installed the cloud function python the build went smoothly

[2018-03-22 11:53] santhoshdc1590 commented on #35
I used the `function.py`'s `handle_http` as my cloud function to be built

[code]

This was the `index.js` generated after the build below

[code]

When testing the url generated locally using `POSTMAN`

I'm getting this error

`{"stack":"TypeError: req.set is not a function\n at handleHttp (/Users/santhoshdc/Documents/LaunchTestOne/cloudfn/target/index.js:55:11)\n at exports.handle_http (/Users/s

[2018-03-22 12:44] MartinSahlen commented on #40
Would be awesome if you can say if you made any changes or modified the code and make a pull request - for the benefit of the community. So we know if this your machine or something general that must be fixed.

[2018-03-22 13:00] santhoshdc1590 commented on #40
It was error from my end of the coding. I had not checked my code properly.

[2018-03-22 13:10] #40 closed

[2018-03-22 13:11] santhoshdc1590 commented on #35
@MartinSahlen Can you help me with this? I don't know what's happening here

[2018-03-22 13:27] santhoshdc1590 commented on #35
Thank You @MartinSahlen I guess you can't read this. I will be opening a new issues for this

[2018-03-22 13:27] #35 closed

[2018-03-22 13:30] santhoshdc1590 opened #42 "TypeError: req.set is not a function"
I used the `function.py` 's `handle_http` as my cloud function to be built

[code]

This was the `index.js` generated after the build below

[code]

When testing the url generated locally using `POSTMAN`

I'm getting this error

`{"stack":"TypeError: req.set is not a function\n at handleHttp (/Users/santhoshdc/Documents/LaunchTestOne/cloudfn/target/index.js:55:11)\n at exports.handle_http (/Users/

[2018-03-22 13:44] MartinSahlen commented on #42
What is going on is that this line: https://github.com/MartinSahlen/cloud-functions-python/blob/master/cloudfn/template/index.js#L55 tries to call the function `set` which does not seem exist on the request object and thereby fails. Likely because noone so far has tried using a cloud function for posting form data - or it existed in a previous version of express and you seem to be using the emulat

[2018-03-22 13:57] MartinSahlen commented on #32
I'm sorry to be so slow - but I dont get notifications for some reason @kevin-thorpe . I'm using https://www.pyinstaller.org/ to compile it!

[2018-03-22 14:25] santhoshdc1590 commented on #42
I'm new to this `web` thing. I do understand that the `req.set` doesn't exist for the program to call it. I'm unable to find an alternative for `req.set`. Yes I'm using emulator. `express` is new to me again. Would really appreciate if you could guide me through this 😅

[2018-03-22 20:24] MartinSahlen commented on #42
Unfortunately I do not have a lot of time to provide guidance but I can try to fix the bug when I can carve out some time.

[2018-03-23 04:50] santhoshdc1590 commented on #42
@MartinSahlen I couldn't find any function called `req.set` in [express2.x](http://expressjs.com/2x/) or [express3.x](http://expressjs.com/en/3x/api.html#request) can I use `req.accepts('application/json')` instead to `req.set('content-type', 'application/json')` from [express4.x](http://expressjs.com/en/4x/api.html#req)?

[2018-03-23 13:39] MartinSahlen commented on #42
I think it can be just removed, is it is an error on my end as I said. Since JavaScript is not statically typed this error is not caught and occurs at runtime when posting data using forms.

[2018-03-23 13:46] santhoshdc1590 commented on #42
I commented the `req.set`, built and installed cloud function python again.

Built and deployed the function similarly locally.

Now I am not getting `500 internal server error` on `postman` and `black screen` in browser

I tried changing  https://github.com/MartinSahlen/cloud-functions-python/blob/master/cloudfn/template/index.js#L55 and check what's happening

This is the changed program

[code]

[2018-03-24 05:21] santhoshdc1590 opened #43 "google-auto-auth error"
Anyone help on fixing this google auth error that is being generated, while using the emulator?

This is my `index.js` file after the build

[code]

This is what I get on running logs using

[2018-03-26 08:54] #42 closed

[2018-03-26 09:00] santhoshdc1590 opened #44 "NameError: name 'bigquery' is not defined"
I deployed my function.py on google cloud

I am getting `NameError: name 'bigquery' is not defined` error in error logs when a hit the google cloud function URL.

I have added below code

[code]

I have no idea what's happening

My bigquery API is already enabled according to this [post ](https://stackoverflow.com/questions/42973178/automated-apps-script-for-bigquery-failing)

Can anyone help?

[2018-03-26 09:37] santhoshdc1590 commented on #44
Do we require to install [BigQuery Client Libraries](https://cloud.google.com/bigquery/docs/reference/libraries#client-libraries-install-python)?

by looking at this

![screen shot 2018-03-26 at 3 05 43 pm](https://user-images.githubusercontent.com/30614728/37898742-40ec796e-3107-11e8-8fd3-5791336797b7.png)

[2018-03-26 14:21] santhoshdc1590 opened #45 "TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string"
I built it local and deployed it locally

`py-cloud-fn handle_http http -f function.py --python_version 3.5`

`py-cloud-fn handle_http http --python_version 3.5 -p -f function.py && cd cloudfn/target && npm install && functions deploy handle_http --trigger-http && cd ../..`

When I hit the url with `POSTMAN`

I get this

I have no idea

/Users/santhoshdc/.nvm/versions/node/v9.8.0/lib/node_modules/

[2018-03-27 05:43] santhoshdc1590 commented on #43
This is my `requirements.txt`

My pip crashes if I install `pip install google-cloud-core`, I'm using `python3.5`

Have I missed any of the required library?

[2018-03-27 09:46] #45 closed

[2018-03-27 09:53] santhoshdc1590 commented on #43
I did solve this google-auth error once I ran this `gcloud auth application-default login` command [Credit](https://stackoverflow.com/questions/35159967/setting-google-application-credentials-for-bigquery-python-cli?#answer-47738080)

@MartinSahlen I'm a beginner in this google cloud itself.  May be you can add this to your procedure of how to get google auth permission for beginner how would want

[2018-03-27 09:53] #43 closed

[2018-03-27 11:01] santhoshdc1590 commented on #44
I still am facing this issue!
Any help anyone?

[2018-03-27 14:04] santhoshdc1590 commented on #44
`pip install --upgrade google-cloud`

[2018-03-27 14:04] #44 closed

[2018-03-28 13:11] santhoshdc1590 opened #46 "finished with status code: 500"
I was successful in running the python code I want by deploying it on cloud function. 🎉🎉🎉🎉

This is my `function.py` file content.

[code]

The cloud function runs as expected, but always ends with error code `500`

When I check the logs of google.

this is what is being printed

`severity: "DEBUG"` can be seen here in [LogSeverity](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEnt

[2018-03-29 07:46] santhoshdc1590 commented on #46
shimHandler inside `index.js` in `cloudfn/template` is returning `500`

`index.js` content

[code]

This is the logs report

Can anyone help resolve this and explain what is happening here?

[2018-03-29 10:06] santhoshdc1590 commented on #46
Error `SyntaxError: Unexpected token # in JSON at position 4 at Object.parse (native) at shimHandler.then (/user_code/index.js:84:17) at process._tickDomainCallback (internal/process/next_tick.js:135:7)`

solution [link1](https://stackoverflow.com/questions/37948990/syntaxerror-unexpected-token-in-json-at-position-0-at-object-parse-native) [link2](https://stackoverflow.com/questions/44176194/json-

[2018-03-29 11:21] santhoshdc1590 commented on #46
Finally found the error

@MartinSahlen You should mention this is the documentation I feel. python `print` statements cause these errors. So in order to run `cloud-function-python` on `cloud-function` avoid using `print` in `python` part of the code

[2018-03-29 11:26] santhoshdc1590 commented on #31
@MartinSahlen You mean now `cloud-function-python` can also be built using `python 3.6`?

[2018-03-29 11:36] santhoshdc1590 commented on #28
@SushantVarshney I think this [Hooks: Add hook-pandas.py to fix issue ](https://github.com/pyinstaller/pyinstaller/pull/2998/files)should help you resolve the issue

Just add `'--hidden-import', 'pandas._libs.tslibs.timedeltas',` inside `cloud-functions-python/cloudfn/cli.py` `build` function build the `build` the `cloud-function-python`

You should be able to solve it

[2018-04-05 10:03] santhoshdc1590 opened #47 "Can I use google cloud storage inside this?"
I would like to store few files on the `google cloud storage` as I am using `cloud function python` is it possible?

[2018-04-07 01:42] #47 closed

[2018-04-07 10:44] santhoshdc1590 commented on #47
@MartinSahlen Yes it did work without any issues

[2018-04-11 12:37] santhoshdc1590 opened #48 "CORS (Cross-origin resource sharing) not supported by cloud-function-python"
On `POSTMAN` the cloud function is working as expected.

Only when the cloud function URL is called from a browser I'm getting this error in the logs.

This is my function.py file content
[code]

On the browser logs the error is being shown as a `500` error in the 'OPTIONS'

Browser is sending a `req.method` as `OPTIONS` but we have no body present in this `req` but function is expecting a `body`

[2018-04-11 13:26] MartinSahlen commented on #48
This seems to be a bug - does the same thing happen in GET requests?

[2018-04-11 13:27] santhoshdc1590 commented on #48
First `OPTIONS` is checked by the browser then the `POST` request is handled.

![screen shot 2018-04-11 at 6 51 54 pm](https://user-images.githubusercontent.com/30614728/38619333-91f5b816-3db9-11e8-9cfe-cda1a1c30394.png)

But the file http.py, seems to have initialised the `request` in a `pre-defined` format, which expects body. Which is never going to happen. I need to make the `request` stop the

[2018-04-11 13:56] santhoshdc1590 commented on #48
@MartinSahlen Can you help with this? I seem to be stuck, commenting the `self.body = raw_json['body']` doesn't seem to be working

[2018-04-11 14:00] santhoshdc1590 commented on #48
@MartinSahlen Will this work? [A Python package for dealing with HTTP requests and same-origin policie](https://github.com/synacor/python-cors)
Can you help out here?

[2018-04-11 14:05] santhoshdc1590 commented on #48
@MartinSahlen  As you have written the main code here for the `cloud-function-python` and how it actually works. I feel you can fix this easily than me. Can you please fix it?

[2018-04-12 07:57] santhoshdc1590 opened #49 "Flask response TypeError: is not JSON serializable"
Running using  `cloud-function-python` using flask

Can get the data but getting `500` error like this

How do I fix this issue?

Anyone help me out here?

[2018-04-12 12:26] santhoshdc1590 commented on #49
I even tried changing `json.dumps` to `json.dump` on `line 50` inside `flask_handler.py`

Then built the pycloudfn using `python setup.py build install`

But still then I'm getting the same error. I'm confused and fed up!

[2018-04-12 12:27] santhoshdc1590 commented on #49
Is there anyone here who can help me out with this?

[2018-04-13 11:28] santhoshdc1590 commented on #48
Tried to solve the CORS issue using `django` but I'm having `python environments issue` according to this issue I raised [ImportError: Module "django.middleware.common" does not define a "CorsMiddleware" attribute/class](https://github.com/ottoyiu/django-cors-headers/issues/304)

[2018-04-13 11:48] santhoshdc1590 commented on #48
@MartinSahlen Looks like only you can help me. Please can you?

[2018-04-13 12:28] MartinSahlen commented on #48
Hey! Unfortunately I do not have a lot of free time on my hands to investigate all of these issues, and at the moment the status of the library is very alpha, ie it “works on my machine”. I really am sorry to hear about all the issues you’re having though. I will try to carve out some time in the next week to help you out. In the meantime, you’re doing a (unfortunately for you) lot of good investi

[2018-04-13 12:37] MartinSahlen commented on #49
Maybe stupid question from me but it seems you are passing a binary string as json. Might that be the issue?

[2018-04-13 13:03] santhoshdc1590 commented on #49
Here's my `function.py`

[code]

This is how I test my cloud function

![screen shot 2018-04-13 at 6 32 11 pm](https://user-images.githubusercontent.com/30614728/38736239-0ff81264-3f49-11e8-85e0-034feb6cfcd1.png)

[2018-04-13 13:32] santhoshdc1590 commented on #48
@MartinSahlen Non of the version of the `django-cors-headers` are getting installed on the cloud. I'm getting the same error `ImportError: No module named 'corsheaders'`.

I had a silly guess that memory of 256MB `cloud-function` was not enough so I used 2GB entire. But still the same error.

[2018-04-13 14:12] santhoshdc1590 opened #50 "Changes to cli.py and index.js in build"
I'm new to git, I know we can push the changes we made on to the master branch but i don't know how to do that. So just tying file name and line number

added

removed

[2018-04-13 23:03] MartinSahlen commented on #50
Thanks! Will take a look!

[2018-04-14 09:48] santhoshdc1590 commented on #48
I added

which did take care of the `ImportError: No module named 'corsheaders'`

Now I'm getting this error

I tried importing the module in all which ways mentioned by same `ImportError`

I guess the entire structure of `django` is not correct

[2018-04-16 14:16] santhoshdc1590 commented on #48
@MartinSahlen

This is my `urls.py` file

[code]

This is my `views.py` file

[code]

This is my POSTMAN result

![screen shot 2018-04-16 at 7 39 13 pm](https://user-images.githubusercontent.com/30614728/38814201-93936080-41ae-11e8-8082-2ce57229a235.png)

This is the logs on the `google cloud`

![screen shot 2018-04-16 at 7 42 33 pm](https://user-images.githubusercontent.com/30614728/38814230-a3c6

[2018-04-24 18:24] K-Niu opened #51 "grpc error when publishing to a pubsub topic within a function"
Has anyone else had trouble publishing to a pubsub topic from within a cloud function?

I have deployed a cloud function something along the lines of:

`from cloudfn.pubsub import handle_pubsub_event
from google.cloud import pubsub

def pubsub_handler(message):
    client = pubsub.PublisherClient()
    topic = 'projects/TEST-PROJECT/topics/TEST-TOPIC'
    client.publish(topic=topic, data=data, tes

[2018-05-18 11:16] santhoshdc1590 opened #52 "Cloud Function taking more than default of 60 seconds, it auto terminated."
`Cloud-function` I deployed works fine. In some cases the function might take longer to execute than a minute. `Cloud-Function` has be set to terminate the function exactly after a minute.

I found a [google documentation](https://cloud.google.com/functions/docs/concepts/exec) here that allows us to run a `cloud-function` upto 9 minutes.

This is the normal code of `node.js` to check the function

[2018-05-18 11:25] MartinSahlen commented on #52
There is no need to alter code to achieve this, you set the timeout at deploy time :) https://cloud.google.com/sdk/gcloud/reference/beta/functions/deploy

[2018-05-18 11:26] MartinSahlen commented on #51
Did you do any more research on this issue?

[2018-05-18 12:37] santhoshdc1590 commented on #52
@MartinSahlen Thank You :)

[2018-05-18 15:00] #48 closed

[2018-05-18 15:00] #49 closed

[2018-05-18 15:00] #50 closed

[2018-05-18 16:51] K-Niu commented on #51
I looked into it a little bit but unfortunately I was unable to resolve it.

[2018-05-19 04:56] #52 closed

[2018-05-23 01:52] ACPK commented on #28
@SushantVarshney - Is this resolved?

[2018-05-23 02:03] ACPK opened #53 "Could not install packages due to an EnvironmentError: [Errno 13] Permission denied"
OS:

      Mac

Python:

      Python3

Command:

      pip3 install pycloudfn

Error:

      Installing collected packages: pefile, altgraph, macholib, pyinstaller, six, python-dateutil, werkzeug, django, Jinja2, futures, pyspin, pyasn1-modules, cachetools, google-auth, pycloudfn
        Found existing installation: six 1.11.0
          Uninstalling six-1.11.0:
            Successfully uninstalle

[2018-05-23 02:04] #53 closed

[2018-05-31 13:44] santhoshdc1590 opened #54 "[SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:719)"
Can't see to build and install

seems pip is having an issue [Could not fetch URL... problem confirming the ssl certificate](https://github.com/pypa/pip/issues/5226)

got it fixed locally with the comment by @lucalenardi in the above link

issue occurs when try to build install `cloud function python`

[2018-05-31 14:03] santhoshdc1590 commented on #54
All dependencies have to be installed manually before `build` `install` working fine now.
Something needs to be changed inside while installing the packages. I have no idea how

[2018-05-31 19:40] MartinSahlen commented on #54
Are you sure this is not an issue on your end? what is the setup and environment? are you using virtualenv?

[2018-06-01 05:00] santhoshdc1590 commented on #54
@MartinSahlen It's a issue with the ssl certificate while fetching the packages from pypi link. You can have a look at the link above.
It was a new virtualenv, I created using virtualwrapper.
It had no extra packages.
I was able to fix it locally using
`curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py`
`python get-pip.py`
suggested by @lucalenardi

[2018-06-13 23:51] valp124 commented on #25
Gents, I'm experiencing the same problem, even with this fix. Any suggestions?

Thanks a lot

[2018-06-19 13:59] santhoshdc1590 opened #55 "How do I handle Tokens & Authentication as environment variables?"
I have to display few messages on `slack` which requires `tokens`.

Here the link [Tokens & Authentication](https://slackapi.github.io/python-slackclient/auth.html#handling-tokens)

How can I do the same inside cloud function python?
Any idea?

[2018-06-21 18:38] MartinSahlen commented on #55
Currently cloud functions does not support env vars, but there is currently an EAP (early access program) that you can sign up to try it. Otherwise, I would recommend using firestore, firebase, runtime config or some other key-value store for th.s

[2018-06-24 13:11] #54 closed

[2018-07-24 13:44] Vonisoa commented on #51
I have the same trouble but with a .exe built with pyinstaller! did you find a solution?

[2018-07-24 21:17] K-Niu commented on #51
I was not able to find a solution, but Google is releasing Python 3.7 support for Cloud Functions in the next couple days!

[2018-07-25 08:51] MartinSahlen commented on #51
Yes as I also wrote in the readme a few weeks ago - I would highly recommend looking into using the official products, this library is a POC and is (hopefully) approaching end of life as google launches proper python support!

[2018-08-13 06:47] DeviRule commented on #53
try    pip3 install pycloudfn --user

[2018-09-12 17:29] bowen4 opened #56 "Add hooks to upstream pyinstaller"
I came upon this repository while attempting to package a grpc and google cloud firestore project using pyinstaller, as upstream pyinstaller does not have the hooks necessary to package these. Could I add the hooks under cloudfn/hooks to upstream pyinstaller? I am new to github so I apologise if this issue is not the right place for this.

[2018-11-26 08:41] arshpreetsingh commented on #53
@wanghulin How the --user flag is making difference here?

[2018-12-02 22:39] MartinSahlen commented on #53
@wanghulin @arshpreetsingh I would strongly consider using https://cloud.google.com/functions/docs/concepts/python-runtime, it should work exactly the same way, this library is not well maintained.

[2019-01-12 21:12] randolfo75 commented on #56
I included the line:
datas += copy_metadata('google-cloud-firestore')

in file hook-google.cloud.py in .\Lib\site-packages\PyInstaller\hooks

It solved for me.

[2019-01-14 00:02] MartinSahlen commented on #56
I would recommend looking at https://cloud.google.com/functions/docs/writing/#functions-writing-helloworld-http-python and not use this library (I am the author of this library).